<div class="jumbotron text-center">
	<div id="img"></div>
	<div class="arrows">
		<a href="/comic?chapter=0&page=0"><div class="arrow"><<</div></a>
		<a ng-href="{{pp}}"><div class="arrow"><</div></a>
		<a ng-href="{{np}}"><div class="arrow">></div></a>
		<a href="/comic"><div class="arrow">>></div></a>
	</div>
	<!-- <p>{{ tagline }}</p> -->
</div>

	<div class="comments">
	<div id="disqus_thread"></div>
	
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	</div>