<link rel="stylesheet" href="css/contact_style.css" />
<!-- custom styles -->

<div id="contact" class="w-100">
  <div class="row">
    <div class="col-sm-6 my-auto">
      <h1>
        CONTACT US
      </h1>
      <p>
        For product/services info: info@iceesolutions.com For
        sales:sales@iceesolutions.com For technology support:
        support@iceesolutions.com
      </p>
      <p>
        <br />ICEE Solutions LLC <br />19925 Stevens Creek Blvd Suite 100
        <br />Cupertino, CA 95014 <br />webmaster@iceesolutions.com
      </p>
      <!--     <img src="https://cdn.glitch.com/84bb9c77-ddaf-4b07-a74c-d678ba0acb37%2Foffice_2.163134849_std.jpg?v=1591745714309"/> -->
    </div>
    <div id="form" class="col-sm-6 my-auto">
      <form
        target="_top"
        action="mailto:info@iceesolutions.com"
        method="post"
        enctype="text/plain"
      >
        Name:
        <input type="text" name="name" />
        E-mail:
        <input type="text" name="mail" /><br />
        Comment:<br />
        <input type="text" name="comment" size="50" /><br /><br />
        <input type="submit" value="Send" />
        <input type="reset" value="Reset" />
      </form>
    </div>
  </div>
</div>
