<link rel="stylesheet" href="css/home_style.css"> <!-- custom styles -->


<div id="mission" class="section row h-100" >
  <div class="col text-center my-auto">
    <h1>OUR MISSION</h1>
    <p>
      To be an indispensable partner of design companies to achieve their
      maximum potential by providing innovative, reliable, easy-to-use software
      products and solutions.
    </p>
  </div>
</div>

<div id="about" class="section row h-100"  onclick="window.location='/about';">
  <div class="col text-center my-auto">
    <h1>ABOUT</h1>
    <p>Low Power Validation for AMS IC Design</p>
  </div>
</div>
<div id="products" class="section row h-100">
  <div class="col text-center my-auto">
    <h1>
      PRODUCTS
    </h1>
    <div class="row">
      <div class="col-sm-6 text-center my-auto">
        CRATUS
      <a href="/products#cratus">
        </a>
      </div>
      <div class="col-sm-6 text-center my-auto">
        METIS
      <a href="/products#metis">
      </a>
      </div>
    </div>
  </div>
</div>

<div id="careers" class="section row h-100">
  <div class="col text-center my-auto">
    <h1>CAREERS</h1>
    <p>
      ICEE Solutions LLC is a fast growing startup company. We are planning to
      hire new engineers, please check for updates.
    </p>
  </div>
</div>
