
<div id="about" class="w-100">
  <div class="text-center my-auto">
	<h1>ABOUT OUR COMPANY</h1>
	<p> ICEE Solutions LLC is a leading provider of power verification and validation products for SOC designs with multiple power domains, especially for mixed signal designs.
  <br>Today, battery powered communication devices, such as smart phones, tablets, are everywhere. With more functions integrated into one device, there are billions of transistors on a single chip, which has mixed analog/digital blocks and those blocks are working under different power domains. Analyzing and verifying the power consumption under different working modes and reducing power leakage have become very difficult issues, especially for SOC top level and analog blocks.
  <br>Cratus is an ICEE Solutions flagship software product that can tackle power validation and verification issues for SOC Level and analog blocks. The product is recognized by our customers by its convenient, high-quality and revolutionizing technology as well as good support.﻿ 
  <br>ICEE Solutions believes that your success is our success.</p>
</div>
</div>