<link rel="stylesheet" href="css/products_style.css"> <!-- custom styles -->


<div id="products" class="section row h-100"  onclick="window.location='/products';">
  <div class="col text-center my-auto">
    <h1>
      PRODUCTS
    </h1>
    <div class="row">
      <div class="col-sm-6 text-center my-auto">
        <div id="cratus" class="product "> 
        <h3>
          CRATUS
        </h3>
    <p>
      CRATUS is a static low power verification and validation tool. It could
      checks 20+ various design problems, from power leakages to basic circuit
      integrity, which could accept Spice/Spectre/Verilog netlists of either the
      blocks level or SOC top level.
    </p>
        </div>
      </div>
      <div class="col-sm-6 text-center my-auto">
        <div id="metis" class="product">
          
        <h3>
          METIS
        </h3>
    <p>
      CRATUS is a static low power verification and validation tool. It could
      checks 20+ various design problems, from power leakages to basic circuit
      integrity, which could accept Spice/Spectre/Verilog netlists of either the
      blocks level or SOC top level.
    </p>
          
        </div>
      </div>
    </div>
  </div>
</div>

<div id="products" class="section ">
  <div class="col h-100 text-center">
  <h1>
    OUR PRODUCTS
  </h1>
    
  <p>
    In addition to products, ICEE Solutions LLC provides short term services and
    support to accommodate various design styles and requests or meet tight
    design schedules.
  </p>
</div>
  
  <div class="row w-100 text-center">
  <div id="cratus" class="col text-center">
    <h1>CRATUS</h1>
    <p>
      CRATUS is a static low power verification and validation tool. It could
      checks 20+ various design problems, from power leakages to basic circuit
      integrity, which could accept Spice/Spectre/Verilog netlists of either the
      blocks level or SOC top level.
    </p>
  </div>
  <div id="metis" class="col text-center">
    <h1>METIS</h1>
    <p>
      METIS is a semi-static, accurate function analysis/simulation tool for
      power verification and validation.
    </p>
  </div>
</div>

</div>
