<div class="jumbotron text-center">
	<h1>Help me Live</h1>
	<br>
	<p>Well, there are a number of ways to help me live a fulfilling life. 
	<br>
	<br>
	There's Ko-fi, which many artists like.</p>
	<a href='https://ko-fi.com/K3K0XE9O' target='_blank'><img class="kofi" height='36' style='border:0px;height:36px;' src='https://az743702.vo.msecnd.net/cdn/kofi2.png?v=2' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a> 
	<br>
	<br>
	<p>But if that's not your speed I've got a Paypal too.</p>
	<a href="https://www.paypal.com/paypalme2/snerkflerks">Here's my paypal.me link.</a>
	<br>
	<br>
	<p>And I don't have a Patreon yet, but if that's a thing people want me to do, I'll do it.</p>
	<br>
	<p>You can also find my commissions available from time to time.</p>

</div>