
#contact{
  color:#fff;
  background-color:rgba(0,0,0,.7);
  padding:50px;
  min-height:90vh;
  padding-bottom:-50px;
}
#gen{
  padding:20px;
  
}
#form {
  background-color: black;
  padding:30px;
  border-radius:10px;
}
input{
  width:100%;
  background-color:rgba(0,0,0,0);
  border:0px black;
  border-bottom:solid 1px gray;
  color:white;
}
.table{
  background-color:rgba(255,255,255,.6);

}
.btn {
  margin:20px; 
  width:auto;
}
.table-responsive-stack tr {
  border-top: solid 1px rgba(0,0,0,0.4);
}


.table-responsive-stack td,
.table-responsive-stack th {
/*    display:block; */
/*      
   flex-grow | flex-shrink | flex-basis   */
   -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  border:0px;
}

.table-responsive-stack .table-responsive-stack-thead {
   font-weight: bold;
}

@media screen and (max-width: 800px) {
   .table-responsive-stack tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      display:block;
      
   }
  .table-responsive-stack th {
       display:block;

  }
   /*  IE9 FIX   */
   .table-responsive-stack td {
            display:block;

      float: left\9;
      width:100%;
   }
}

