#mission{
  color:#fff;
  margin-top:-80px;
  height:100vh !important;
  background-color:rgba(0,0,0,.4);
  padding:0 10%;
}
#about{
  color:#fff;
  background-color:rgba(0,0,0,.6);
}
#products{
  color:#fff;
  background-color:rgba(0,0,0,.7);
}
#careers{
  color:#fff;
  background-color:rgba(0,0,0,.8);
  padding:0 20%;
}