
#products{
  color:#fff;
  background-color:rgba(0,0,0,.4);
}
.item {
  padding:20px;
}
.product{
  margin:20px;
  height:100%;
  padding:80px 20px;
  border-radius:10px;
  background-color:#000;
}
.product .btn {
  margin:20px;
}