/*sitewide*/

.jumbotron {
	background-color: #eeeeee;
	padding:50px;
	border-radius: 10px;
}
.navbar {
  background-color:black;
  width:100%;
  position:fixed;
  left:0;top:0;
  
}
.nav-bit {

	margin:0 5px 20px 5px;
	padding:10px 20px;
	border-radius: 10px;
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
}

.nav-bit:hover {

	background-color: #ffaaff;
	transition: all .7s ease;
}
.nav {

	padding:0;
}
.nav a {
	text-decoration: none;
}

#menubars {
	display:none;
	margin:0 10px 20px 10px;
	background-color: #ffccff;
	padding:10px 20px;
	border-radius: 10px;
}

#title {
	font-size:60px;
  margin:0;
}
img {
	
	transition: all .7s ease;
}
a {
	text-decoration: none !important;
	transition: all .7s ease;
}
p {
	margin:0;
}
body { 
	padding-top:30px; 
	font-family: 'Josefin Sans', 'Helvetica Neue', Arial, sans-serif;
	background-color: #baddad;
	margin:0 15% ;

}
/*For smaller screens*/
@media screen and (max-width: 1130px) {
    .nav a {display: none;}
	#menubars {
		position:absolute;
		display: flex;
	   right:0;
	   z-index:9;
	   text-decoration: none;
	}

  .nav.responsive {

  	position:absolute;
	flex-direction:column;
  	right:10px;
  	top:30px;
  	background-color:#ffccff;
  	margin:0;
  	padding:10px;
  	padding-top:50px;
  	border-radius: 10px;
  	z-index: 1;
	transition: all .7s ease;
  }
  .nav.responsive a {
    float: none;
    display: block;
  }
  .nav.responsive .nav-bit {
    margin:0;
    padding:10px;
    background-color: rgb(0,0,0,0);
  }
.nav.responsive .nav-bit:hover {
	background-color: #ffaaff;
	transition: all .7s ease;
}
}

/*For the comic page*/
#img img {
	height:100%;
	width:100%;
	border-radius: 10px;
}
.kofi:hover {
	opacity:.9;
}
.comments {
    position:relative;
	width:100%;
	margin: 50px 0%;
	background-color:rgb(235, 251, 255);
	box-sizing:border-box;
	border-radius: 10px;
	padding: 20px;
	z-index:-1;
}

.arrows {
	/*display:inline-block;*/
	margin:20px 0 -60px 0;
}

.arrow {
	display:inline-block;
	margin:0 2%;
	background-color: #ffccff;
	padding:18px 20px;
	width:60px;
	border-radius: 30px;
}

.arrow:hover {

	background-color: #ffaaff;
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
}

/*For the archive*/
.ch {
	background-color:#baddad;
	padding:10px;
	border-radius: 10px;
	margin: 20px;
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;

}
/*.ch:hover {
	background-color: #faffaf;
}*/
.ch a {
	text-decoration: none;
}

.pg {
	background-color:#bbbddd;
	padding:10px;
	border-radius: 10px;
	margin:5px;
	width:50px;
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
	display:inline-block;
}
.pg:hover {
	background-color: #8888ff;
}
.pg a {
	text-decoration: none;
}