/*sitewide*/

body { 
	padding:80px 0 50px 0; 
	font-family: 'Josefin Sans', 'Helvetica Neue', Arial, sans-serif;
	background-color: #fff;
  background-image:url("https://www.trainingzone.co.uk/sites/default/files/learning_technology_solutions_0.jpg");
  background-size:cover;
  background-attachment:fixed;
  background-position: center;
  min-height:100vh;
  height:auto;
  position:relative;
}
.container-fluid{
  width:100%;height:100%;
  margin:0;padding:0;
}

img {
	
	transition: all .7s ease;
}
a {
	text-decoration: none !important;
	transition: all .7s ease;
}
p {
	margin:0;
}

#title {
	font-size:48px;
  margin-bottom:-8px;
}
.jumbotron {
	background-color: #eeeeee;
	padding:50px;
	border-radius: 10px;
}


/*//////////////////////////////////// NAVBAR /////////////////////////////////////*/
.navbar {
  background-color:black;
  width:100%;
  position:fixed;
  left:0;top:0;
    z-index:100;

}
.nav-bit {
  text-align:right;
	margin:10px 5px 10px 5px;
	padding:10px 20px;
	border-radius: 10px;
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
}

.nav-bit:hover {

	background-color: #ffaaff;
	transition: all .7s ease;
}
.nav {

	padding:0;
}
.nav a {
	text-decoration: none;
}

#menubars {
	display:none;
	margin:0 10px 10px 10px;
	padding:10px 20px;
	border-radius: 10px;
}

/*For smaller screens*/
@media screen and (max-width: 900px) {
    .nav a {display: none;}
	#menubars {
		position:absolute;
		display: flex;
	   right:0;
	   z-index:9;
	   text-decoration: none;
	}

  .nav.responsive {

  	position:absolute;
	flex-direction:column;
  	right:10px;
  	top:10px;
  	background-color:#ffccff;
  	margin:0;
  	padding:10px;
  	padding-top:40px;
  	border-radius: 10px;
  	z-index: 1;
	transition: all .7s ease;
  }
  .nav.responsive a {
    float: none;
    display: block;
  }
  .nav.responsive .nav-bit {
    margin:5px;
    padding:10px;
    background-color: rgb(0,0,0,0);
  }
.nav.responsive .nav-bit:hover {
	background-color: #ffaaff;
	transition: all .7s ease;
}
}

@media screen and (max-width: 600px) {
  #title{
    opacity:0;
  }
}
/*//////////////////////////////////// FOOTER /////////////////////////////////////*/

#footer{
  background-color:#000;
  width:100%;
  font-size:10px;
  margin:0;
  padding:20px;
  color:white;
  position:absolute;
  height:50px;
  bottom:0;
}

/*/////////////////////////////////// SECTIONS ////////////////////////////////////*/

.section{
  min-height:300px;
  padding:20px;
}


.comments {
    position:relative;
	width:100%;
	margin: 50px 0%;
	background-color:rgb(235, 251, 255);
	box-sizing:border-box;
	border-radius: 10px;
	padding: 20px;
	z-index:-1;
}
